@charset "UTF-8";

body {
  margin: 0%;
}

header {
  margin: 0%;
}
header .navigation {
  position: relative;
  z-index: 3;
  background-color: #78756d;
  display: flex;
  align-items: center;
}
header .navigation .container_nav {
  width: 1260px;
  margin: 0 auto;
  display: flex;
}
header .navigation .container_nav .menu {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Alegreya", serif;
  padding: 0px;
  margin-top: 10px;
}
header .navigation .container_nav .menu li {
  color: #ffffff;
  margin-right: 38px;
  list-style-type: none;
}
header .navigation .container_nav .menu li a {
  text-decoration: none;
  color: #ffffff;
}
header .navigation .container_nav .menu span {
  margin-right: 0px;
  font-size: 30px;
  letter-spacing: 9px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  
}
header .navigation .container_nav .logos {
  display: flex;
  padding-left: 0px;
  margin-left: auto;
}
header .navigation .container_nav .logos li {
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 30px;
  list-style-type: none;
}
header .content {
  margin: 0;
  background-image: url("img/fonh.png");
  background-size: cover;
}
header .content h1 {
  position: relative;
  z-index: 3;
  border-radius: 449px;
  text-align: center;
  margin: 0 auto;
  padding-top: 213px;
  font-size: 92px;
  letter-spacing: 7px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
}
header .content .text1 {
  position: relative;
  z-index: 3;
  text-align: center;
  margin-top: 136px;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Proxima Nova";
  margin-bottom: 68px;
}
header .content .btnn {
  position: relative;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  height: 50px;
  background-color: rgba(86, 83, 76, 0.5294117647);
  border: 1px solid #9e9c93;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .content .btnn .btn {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Alegreya";
}
header .content .bord {
  margin-top: 178px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  filter: drop-shadow(0px 8px 4.5px rgba(0, 0, 0, 0.87));
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 4;
  left: 50%;
  transform: translate(-50%, 0);
}
header .content .border {
  margin-top: -40px;
  width: 200%;
  height: 10px;
  filter: drop-shadow(0px 8px 4.5px rgba(0, 0, 0, 0.87));
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  transform: translate(-50%, 0);
}
header .shadow {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 20%;
  width: 939px;
  height: 897px;
  border-radius: 449px;
  background-image: radial-gradient(circle at center, #564f4c 0%, rgba(86, 83, 76, 0) 70%);
}

.cakes {
  margin: 0%;
  padding: 0%;
  background-image: url("img/texture.png");
  background-size: cover;
}
.cakes .cakescontainer {
  width: 1260px;
  margin: 0 auto;
  display: flex;
}
.cakes .cakescontainer .leftcontent {
  padding-top: 60px;
  width: 50%;
}
.cakes .cakescontainer .leftcontent .heading {
  height: 65px;
}
.cakes .cakescontainer .leftcontent .heading h1 {
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #56534c;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0px;
}
.cakes .cakescontainer .leftcontent .heading h2 {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #a47d5e;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
}
.cakes .cakescontainer .leftcontent .textcakes {
  padding-top: 50px;
  margin: 0 auto;
  width: 509px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #56534c;
  font-family: "Proxima Nova";
  text-align: center;
}
.cakes .cakescontainer .leftcontent .chef {
  margin-top: 43px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #56534c;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
}
.cakes .cakescontainer .leftcontent .chef .foto1 {
  display: flex;
}
.cakes .cakescontainer .leftcontent .chef .foto1 .foto {
  overflow: hidden;
  position: relative;
  width: 101px;
  height: 101px;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: 21px;
  filter: drop-shadow(0px 7px 4.5px rgba(0, 0, 0, 0.93));
}
.cakes .cakescontainer .leftcontent .chef .foto1 .foto img {
  position: absolute;
  top: 0px;
  left: -50px;
}
.cakes .cakescontainer .leftcontent .chef .foto1 .Benito {
  margin-top: 24px;
  height: 57px;
  width: 112px;
  margin-left: 130px;
  border-style: solid none solid none;
  border-color: #d7d5ca;
}
.cakes .cakescontainer .leftcontent .chef .foto1 .Benito p {
  margin-top: 15px;
}
.cakes .cakescontainer .leftcontent .chef .foto1 .Gaspare {
  height: 57px;
  width: 112px;
  margin-top: 24px;
  margin-left: 46px;
  border-style: solid none solid none;
  border-color: #d7d5ca;
}
.cakes .cakescontainer .leftcontent .chef .foto1 .Gaspare p {
  margin-top: 15px;
}
.cakes .cakescontainer .leftcontent .chef .text {
  margin-top: 25px;
}
.cakes .cakescontainer .leftcontent .chef .text .quotes1 {
  text-align: left;
  padding-left: 113px;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #aaa8a4;
  font-family: "Times New Roman";
  font-style: italic;
}
.cakes .cakescontainer .leftcontent .chef .text .textt {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #a47d5e;
  font-weight: 400;
  
  text-align: center;
}
.cakes .cakescontainer .leftcontent .chef .text .quotes2 {
  text-align: right;
  padding-right: 100px;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #aaa8a4;
  font-family: "Times New Roman";
  font-style: italic;
}
.cakes .cakescontainer .rightcontent {
  margin-top: 105px;
  margin-left: 28px;
  width: 50%;
  padding-bottom: 200px;
}
.cakes .cakescontainer .rightcontent .pictures {
  width: 620px;
}
.cakes .cakescontainer .rightcontent .pictures img {
  margin: 5px;
  filter: drop-shadow(0px 7px 4.5px rgba(0, 0, 0, 0.93));
  outline: 6px solid white;
  outline-offset: -12px;
}
.cakes .cakescontainer .rightcontent .pictures .vektor {
  background-image: url("img/Vektor.png");
  opacity: 0.9;
  filter: alpha(Opacity=90);
  margin-top: -400px;
  margin-left: 163px;
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cakes .cakescontainer .rightcontent .pictures .vektor p {
  margin-top: 60px;
  text-align: center;
  position: absolute;
  transform: translate(0, -50%);
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 36px;
  color: #c9b176;
  font-weight: 400;
  font-family: "Alegreya";
  display: flex;
  align-items: center;
  justify-content: center;
}

.foodwidget {
  background-image: url("img/placeholderr.png");
  background-size: cover;
}
.foodwidget .container {
  display: flex;
  width: 1260px;
  margin: 0 auto;
}
.foodwidget .container .foodcontainer {
  background-color: white;
  background: linear-gradient(45deg, transparent 50px, white 0) right;
  margin-left: 94px;
  margin-top: 140px;
  margin-bottom: 108px;
  width: 965px;
  height: 512px;
  display: flex;
}
.foodwidget .container .foodcontainer .rightc {
  background-image: url("img/Vektor-Smartobjekt windmill.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 545px;
  height: 512px;
}
.foodwidget .container .foodcontainer .rightc .circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  margin-left: -25px;
  margin-top: -45px;
}
.foodwidget .container .foodcontainer .rightc .text1 {
  margin-top: 80px;
  margin-left: 65px;
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #56534c;
  font-weight: 700;
  font-family: "Alegreya";
  height: 65px;
}
.foodwidget .container .foodcontainer .rightc .text1 p {
  margin: 0;
}
.foodwidget .container .foodcontainer .rightc .text1 .p1 {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #a47d5e;
  font-weight: 700;
  font-family: "Proxima Nova";
  margin-top: 14px;
}
.foodwidget .container .foodcontainer .rightc .text2 {
  margin-top: 70px;
  margin-left: 65px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #56534c;
  font-family: "Proxima Nova";
}
.foodwidget .container .foodcontainer .rightc .text2 p {
  margin: 0;
}
.foodwidget .container .foodcontainer .rightc .rating {
  margin-top: 50px;
  margin-left: 65px;
}
.foodwidget .container .foodcontainer .rightc .rating .stars {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.foodwidget .container .foodcontainer .rightc .rating .stars li {
  margin-right: 10px;
}
.foodwidget .container .foodcontainer .rightc .slide {
  margin-top: 37px;
  margin-left: 65px;
}
.foodwidget .container .foodcontainer .rightc .slide .slidee {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
}
.foodwidget .container .foodcontainer .rightc .slide .slidee .img {
  margin-left: 14px;
  margin-right: 14px;
}
.foodwidget .container .mins {
  background-color: #ffffff;
  height: 201px;
  width: 201px;
  margin-left: -97px;
  margin-top: 97px;
  filter: drop-shadow(0px 25px 27px rgba(105, 80, 58, 0.45));
}
.foodwidget .container .mins .ready {
  margin-top: -166px;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #a47d5e;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
}
.foodwidget .container .mins .p40 {
  margin-top: 27px;
  font-size: 90px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #dfc691;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  margin-bottom: 0;
}
.foodwidget .container .mins .mins1 {
  margin-top: 28px;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #a47d5e;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
}

.sandwich {
  margin: 0px;
  background-color: #f3f1e9;
  align-items: center;
}
.sandwich .container_s {
  display: flex;
  align-items: center;
  width: 1260px;
  margin: auto;
}
.sandwich .container_s .container_s1 {
  width: 1260px;
  height: 921px;
}
.sandwich .container_s .container_s1 .jibarito {
  align-items: center;
  margin: auto;
}
.sandwich .container_s .container_s1 .jibarito .name {
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #56534c;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
}
.sandwich .container_s .container_s1 .jibarito .name1 {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #a47d5e;
  font-weight: 700;
  font-family: "Proxima Nova";
  text-align: center;
}
.sandwich .container_s .content_s {
  display: flex;
  margin-top: 65px;
}
.sandwich .container_s .content_s .left {
  text-align: center;
  height: 750px;
}
.sandwich .container_s .content_s .left img {
  margin: auto;
}
.sandwich .container_s .content_s .left .title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #a47d5e;
  font-weight: 700;
  font-family: "Alegreya";
}
.sandwich .container_s .content_s .left .title2 {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 55px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 17px;
  color: #56534c;
  font-family: "Proxima Nova";
  text-align: center;
}
.sandwich .container_s .content_s .right {
  margin-top: 94px;
  background-image: url("img/placeholder_fon.png");
  height: 557px;
  width: 841px;
  margin: auto;
  filter: drop-shadow(0px 8px 4.5px rgba(0, 0, 0, 0.5));
  outline: 10px solid white;
}
.sandwich .container_s .content_s .right .full {
  position: relative;
  z-index: 2;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #dfc691;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  width: 171px;
  height: 60px;
  background-color: #ffffff;
  border: 1px dashed #dfc691;
  margin-top: -60px;
  margin-right: 880px;
  margin-left: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sandwich .container_s .content_s .right .info1 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  width: 201px;
  height: 201px;
  margin-left: auto;
  margin-top: -26px;
  z-index: 2;
}
.sandwich .container_s .content_s .right .info1 .inf1 {
  width: 51px;
  height: 103px;
  padding-top: 50px;
  margin-left: 75px;
}
.sandwich .container_s .content_s .right .info1 .inf1 .title1 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #a47d5e;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  opacity: 1;
}
.sandwich .container_s .content_s .right .info1 .inf1 .title2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #56534c;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  opacity: 1;
}
.sandwich .container_s .content_s .right .info1 .inf1 .title3 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #979285;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  opacity: 1;
}
.sandwich .container_s .content_s .right .info2 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  width: 201px;
  height: 201px;
  margin-left: auto;
  margin-top: 2px;
  z-index: 2;
}
.sandwich .container_s .content_s .right .info2 .inf1 {
  width: 51px;
  height: 103px;
  padding-top: 50px;
  margin-left: 75px;
}
.sandwich .container_s .content_s .right .info2 .inf1 .title1 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #a47d5e;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  opacity: 1;
}
.sandwich .container_s .content_s .right .info2 .inf1 .title2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #56534c;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  opacity: 1;
}
.sandwich .container_s .content_s .right .info2 .inf1 .title3 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #979285;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  opacity: 1;
}
.sandwich .container_s .content_s .right .info3 {
  position: relative;
  background-color: white;
  background-image: url("img/Vektor-Sm_fon.png");
  width: 201px;
  height: 201px;
  margin-left: auto;
  margin-top: 2px;
  z-index: 2;
}
.sandwich .container_s .content_s .right .info3 .inf1 {
  width: 95px;
  height: 103px;
  padding-top: 40px;
  margin-left: 55px;
}
.sandwich .container_s .content_s .right .info3 .inf1 .title1 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #a47d5e;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  opacity: 1;
}
.sandwich .container_s .content_s .right .info3 .inf1 .title2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #56534c;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  opacity: 1;
}
.sandwich .container_s .content_s .right .info3 .inf1 .title3 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #979285;
  font-weight: 700;
  font-family: "Alegreya";
  text-align: center;
  opacity: 1;
}

footer {
  margin: 0;
  padding: 0;
  background-color: #f3f1e9;
}
footer .content_f {
  width: 1260px;
  margin: auto;
  padding-top: 95px;
  display: flex;
}
footer .content_f .left_f {
  width: 516px;
  height: 70px;
  border-style: solid none solid none;
  border-color: #c2beba;
  border-width: 1px;
}
footer .content_f .left_f .left_m {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 12px;
  font-weight: 400;
  font-family: "Alegreya", serif;
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .content_f .left_f .left_m li {
  margin: auto;
  color: #56534c;
  list-style-type: none;
  text-decoration: none;
}
footer .content_f .left_f .left_m li a {
  text-decoration: none;
  color: #56534c;
}
footer .content_f .logo_f {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 23px;
  margin-bottom: 73px;
  font-size: 30px;
  letter-spacing: 9px;
  line-height: 24px;
  color: #56534c;
  font-weight: 400;
  
}

@media (max-width: 1279px) {
  .cakes .cakescontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .cakes .cakescontainer .leftcontent {
    padding-top: 60px;
    width: 50%;
    margin: auto;
  }

  .cakes .cakescontainer .rightcontent {
    padding-top: 60px;
    width: 50%;
    margin: auto;
  }

  .sandwich .container_s .content_s .right {
    width: 700px;
    margin: auto;
  }

  .sandwich .container_s {
    width: 100%;
  }

  .sandwich .container_s .container_s1 {
    width: 100%;
  }

  footer .content_f {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }

  footer .content_f .left_f {
    margin: auto;
  }

  footer .content_f .logo_f {
    margin: auto;
  }

  header .navigation {
    display: none;
  }

  .foodwidget .container {
    width: 100%;
  }

  .foodwidget .container .foodcontainer {
    width: 80%;
    margin-left: 20px;
  }

  .foodwidget .container .foodcontainer .rightc {
    width: 50%;
    margin: auto;
  }

  .cakes .cakescontainer .rightcontent {
    width: 100%;
  }

  .cakes .cakescontainer .rightcontent .pictures {
    margin: auto;
  }

  .foodwidget .foodcontainer img {
    display: none;
  }
}